<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/store">Liquor <span>store</span></a>

    <div class="order-lg-last btn-group">
      <a href="#" class="btn-cart dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <span class="flaticon-shopping-bag"></span>
        <div class="d-flex justify-content-center align-items-center"><small>3</small></div>
      </a>

      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-item d-flex align-items-start">
          <div class="img" style="background-image: url('assets/images/prod-1.jpg');"></div>
          <div class="text pl-3">
            <h4>Bacardi 151</h4>
            <p class="mb-0"><a href="#" class="price">$25.99</a><span class="quantity ml-3">1</span></p>
          </div>
        </div>

        <div class="dropdown-item d-flex align-items-start">
          <div class="img" style="background-image: url('assets/images/prod-2.jpg');"></div>
          <div class="text pl-3">
            <h4>Jim Beam</h4>
            <p class="mb-0"><a href="#" class="price">$30.89</a><span class="quantity ml-3">2</span></p>
          </div>
        </div>

        <div class="dropdown-item d-flex align-items-start">
          <div class="img" style="background-image: url('assets/images/prod-3.jpg');"></div>
          <div class="text pl-3">
            <h4>Citadelle</h4>
            <p class="mb-0"><a href="#" class="price">$22.50</a><span class="quantity ml-3">1</span></p>
          </div>
        </div>

        <a class="dropdown-item text-center btn-link d-block w-100" routerLink="/cart">
          View All
          <span class="ion-ios-arrow-round-forward"></span>
        </a>
      </div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a routerLink="/store" routerLinkActive="active" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="/member" routerLinkActive="active" class="nav-link">Member</a></li>
        <li class="nav-item"><a routerLink="/cart" routerLinkActive="active" class="nav-link">My Cart</a></li>
        <li class="nav-item"><a routerLink="/store" routerLinkActive="active" class="nav-link">Products</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>